/* Webfont: Agenda-Light */@font-face {
    font-family: 'Agenda';
    src: url('Agenda-Light.eot'); /* IE9 Compat Modes */
    src: url('Agenda-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Agenda-Light.woff') format('woff'), /* Modern Browsers */
         url('Agenda-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Agenda-Light.svg#Agenda-Light') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

