/* Webfont: Agenda-Bold */@font-face {
    font-family: 'Agenda';
    src: url('Agenda-Bold.eot'); /* IE9 Compat Modes */
    src: url('Agenda-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Agenda-Bold.woff') format('woff'), /* Modern Browsers */
         url('Agenda-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Agenda-Bold.svg#Agenda-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

