/* Webfont: Agenda-Medium */@font-face {
    font-family: 'Agenda';
    src: url('Agenda-Medium.eot'); /* IE9 Compat Modes */
    src: url('Agenda-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Agenda-Medium.woff') format('woff'), /* Modern Browsers */
         url('Agenda-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Agenda-Medium.svg#Agenda-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

