/* Webfont: BentonSans-Bold */@font-face {
    font-family: 'BentonSans';
    src: url('BentonSans-Bold.eot'); /* IE9 Compat Modes */
    src: url('BentonSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BentonSans-Bold.woff') format('woff'), /* Modern Browsers */
         url('BentonSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BentonSans-Bold.svg#BentonSans-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

