// INDEX OF ANIMATIONS
// This is a port of Den Eden's Animate.css, converted for SASS.
// Source: https://daneden.me/animate/
//
// @import this index into your project.
// Comment out categories below to remove them from your project.
// Or, @import specific partials (e.g. @import "_attention/_bounce.scss";
//
//-----------------------------------------------------------------------

// Always required
@import "_properties";

// Import the animations
// @import  "_attention-seekers/attention-seekers.scss";
// @import  "_bouncing-entrances/bouncing-entrances.scss";
// @import  "_bouncing-exits/bouncing-exits.scss";
@import  "_fading-entrances/fading-entrances.scss";
// @import  "_fading-exits/fading-exits.scss";
// @import  "_flippers/flippers.scss";
// @import  "_lightspeed/lightspeed.scss";
// @import  "_rotating-entrances/rotating-entrances.scss";
// @import  "_rotating-exits/rotating-exits.scss";
// @import  "_sliding-entrances/sliding-entrances.scss";
// @import  "_sliding-exits/sliding-exits.scss";
// @import  "_specials/specials.scss";
@import  "_zooming-entrances/zooming-entrances.scss";
// @import  "_zooming-exits/zooming-exits.scss";


.fade { opacity: 0; }
.fadeIn { @include fadeIn(); }
.fadeInUp { @include fadeInUp(); }

// .zoom { transform: scale3d(0, 0, 0)}
.zoomIn { @include zoomIn(); }

.delay-1000 { animation-delay: 1s !important; }
.delay-1250 { animation-delay: 1.25s !important; }
.delay-1500 { animation-delay: 1.5s !important; }
.delay-1750 { animation-delay: 1.75s !important; }
.delay-2000 { animation-delay: 2s !important; }