@import "bootstrap-variables";

@font-face {
    font-family: 'Futura';
    src: url('#{$font-path}/Futura/Futura-Bold.eot');
    src: url('#{$font-path}/Futura/Futura-Bold.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/Futura/Futura-Bold.woff') format('woff'),
         url('#{$font-path}/Futura/Futura-Bold.ttf') format('truetype'),
         url('#{$font-path}/Futura/Futura-Bold.svg#Futura-Bold') format('svg');
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Futura';
    src: url('#{$font-path}/Futura/Futura-Light.eot');
    src: url('#{$font-path}/Futura/Futura-Light.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/Futura/Futura-Light.woff') format('woff'),
         url('#{$font-path}/Futura/Futura-Light.ttf') format('truetype'),
         url('#{$font-path}/Futura/Futura-Light.svg#Futura-Light') format('svg');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Agenda';
    src: url('#{$font-path}/Agenda/Agenda-Medium.eot');
    src: url('#{$font-path}/Agenda/Agenda-Medium.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/Agenda/Agenda-Medium.woff') format('woff'),
         url('#{$font-path}/Agenda/Agenda-Medium.ttf') format('truetype'),
         url('#{$font-path}/Agenda/Agenda-Medium.svg#Agenda-Medium') format('svg');
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Agenda';
    src: url('#{$font-path}/Agenda/Agenda-Light.eot');
    src: url('#{$font-path}/Agenda/Agenda-Light.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/Agenda/Agenda-Light.woff') format('woff'),
         url('#{$font-path}/Agenda/Agenda-Light.ttf') format('truetype'),
         url('#{$font-path}/Agenda/Agenda-Light.svg#Agenda-Light') format('svg');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Agenda';
    src: url('#{$font-path}/Agenda/Agenda-Bold.eot');
    src: url('#{$font-path}/Agenda/Agenda-Bold.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/Agenda/Agenda-Bold.woff') format('woff'),
         url('#{$font-path}/Agenda/Agenda-Bold.ttf') format('truetype'),
         url('#{$font-path}/Agenda/Agenda-Bold.svg#Agenda-Bold') format('svg');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

