@import "bootstrap-variables";
@import "fonts";

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-weight: 300;
    letter-spacing: 1px;
    transition: all 1s;
    color: #FFFFFF;
    background: #112038;
}

img {
    max-width: 100%;
}

.hom {
    text-align: center;
    position: relative;
    padding-top: 124px;

    &__container {
        display: table;
        padding: 0;
    }

    &__cols {
        display: table;

    }

    &__col {
        display: table-cell;
        vertical-align: middle;
        height: 600px;
        width: 50%;

        &--1 {}
        &--2 {}
    }
}

.lead-text {
    font-size: 16px;
    font-weight: bold;
    text-shadow: -2px 2px 5px black;
    width: 500px;
    margin: 1em auto;
    line-height: 1.6;
    max-width: 100%;
}

.sticky {
    width: 100%;
    position: absolute;
    top: 68px;
    left: 0;
    z-index: 1000;
    margin-top: 0;
}

.link {
    display: inline-block;
    margin: 0 40px 0 0;

    &:hover {
        text-decoration: none;
    }

    &__secret {
        font-size: 0;
        line-height: 0;
        letter-spacing: -999em;
        color: transparent;
        display: block;
    }

    &--internal {
        font-family: $headings-font-family;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        color: white;
        text-shadow: 2px 2px 8px black;
        line-height: 1.4;
        max-width: 90px;
        text-align: center;
        margin: 0 10px;

        &:hover {
           color: white;
        }
    }

}

.nav {
    display: table;
    padding: 0;

    &__list {
        display: table-cell;
        vertical-align: bottom;
        text-align: right;
        padding: 0;

        &--brand {
            text-align: left;
        }
    }

    &__item {
        display: inline-block;
        vertical-align: bottom;
    }
}

.member-card {
    position: relative;
    display: block;
    width: 391px;
    max-width: 90%;
    margin: 0 auto 85px;

    &:after {
        display: block;
        content: '';
        width: 100%;
        padding-top: (247 / 391) * 100%;
        height: 0;
    }

    img {
        position: absolute;
        top: -100%;
        right: -100%;
        bottom: -100%;
        left: -100%;
        margin: auto;
        max-width: 165%;

    }
}

.parallax {
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
    min-width: 1040px;
    // clip-path: polygon(0 100%, 0 0, 48.5% 0, 50% 20px, 51.5% 0, 100% 0, 100% 100%);

    &--noclip {
        // -webkit-clip-path: none;
        clip-path: none;
    }

    & + & { top: -20px; }
    & + & + & { top: -40px; }
    & + & + & + & { top: -60px; }
    & + & + & + & + & { top: -80px; }
    & + & + & + & + & + & { top: -100px; }
    & + & + & + & + & + & + & { top: -120px; }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0;
        left: 0;

        img {
            display: none;
        }
    }
}

.btn {

    &--apply {
        background: url('../images/btn-apply.png') no-repeat;
        height: 59px;
        width: 225px;
        text-indent: -999em;
        position: relative;

        &-orange {
            width: 235px;
            background: url('../images/btn-apply-orange.png') no-repeat;
        }
    }


    &--card {
        border: 1px solid white;
        color: white;
        width: 260px;
        border-radius: 0;
        white-space: initial;
        font-size: 12px;
        padding: 10px;

        &:hover, &:focus {
            color: white;
            background: rgba(255, 255, 255, 0.4);
        }
    }

}

.ltt {
    text-align: center;
    padding-top: 124px;
    padding-bottom: 85px;

    &__button {
       margin: 60px auto 100px;
    }

    &__panel {
        font-size: 19px;
        background: rgba(17,31,55,0.80);
        padding: 16px;
        width: 744px;
        margin: 0 auto;
        max-width: 90%;
        text-align: justify;
        text-align-last: center;
        margin-bottom: 70px;

        h1 {
            font-weight: 700;
            margin: 0 auto 32px;
            font-size: 30px;
            max-width: 406px;
            text-align: center;
        }

        &__inner {
            border: 1px solid #FFFFFF;
        }
        &__content {
            margin: 0 auto;
            padding: 60px 0 45px;
            max-width: 600px;
        }
        &__separator {
            width: 378px;
            margin: 38px auto 36px;
            max-width: 154px;
            border-width: 3px;
        }
    }
}

.earn {

    text-align: center;
    padding: 93px 0;
    font-size: 20px;

    &__col {
        max-width: 835px;
        margin: 0 auto;
    }

    &__infographic {
        margin: 70px auto 50px;
    }

    &__p {
        &--1 { margin-bottom: 93px; }
        // &--2 { margin-bottom: 70px; }
        &--3 { margin-bottom: 60px; }
    }

    &__places {
        width: 924px;
        overflow: auto;
        margin: 0 auto 35px;
        padding: 0;
    }

    &__footnote {
        font-size: 18px;
        margin-top: 40px;
    }

}

.place {
    display: table;
    position: relative;
    width: 408px;
    height: 222px;
    float: left;
    margin: 20px;
    border: 7px solid white;
    box-sizing: initial;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);

    &__thumb {
        position: absolute;
    }

    &__overlay {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        background-color: rgba(0,0,0,0.75);
        opacity: 0;
        transition: opacity 0.5s;

        .place:hover & {
            opacity: 1;
        }

        p {
            margin: 0;
        }
    }

    hr {
        margin: 10px auto;
        max-width: 242px;
        border-width: 2px;
    }
}

.fast {
    text-align: center;
    max-width: 995px;
    padding-top: 114px;
    padding-bottom: 120px;

    &__head {
        max-width: 645px;
        margin: 0 auto 68px;
        line-height: 1.4;

    }
    &__subhead {
        display: block;
        border: 1px solid white;
        padding: 15px 0 12px;
        font-size: 20px;
        margin-bottom: 48px;
    }

    &__rates {
        display: table;
        width: 100%;
        padding: 0;
        margin-bottom: 85px;
    }

    &__rewards {
        display: table;
        vertical-align: top;
        margin-bottom: 70px;
    }

    &__transfer {
        font-size: 18px;
        max-width: 900px;
        margin: 0 auto 74px
    }
}

.rate {
    display: table-cell;
    font-size: 18px;

    &__icon {
        width: 200px;
        height: 140px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        &--baserate {
            background-image: url('../images/icon-baserate.png');
            background-position: 40px 50%;
        }

        &--overseasrate {
            background-image: url('../images/icon-overseasrate.png');
        }

        &--specialrate {
            background-image: url('../images/icon-specialrate.png');
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 500;
    }

    &__info {
        max-width: 300px;
        height: 6em;
        margin: 0 auto;

        &--1 { max-width: 200px }
        &--2 { max-width: 250px }
    }

    &__points {
        font-family: Agenda, sans-serif;
        background: rgba(79, 194, 235, 0.8);
        width: 242px;
        color: white;
        padding: 9px;
        font-weight: 500;
        font-size: 18px;
        display: inline-block;
    }

}

.reward {
    display: table-cell;
    font-size: 18px;
    width: 50%;

    &__amount {
        font-family: Futura, Trebuchet, sans-serif;
        font-size: 62px;
        font-weight: bold;
        margin: 0 auto;
        line-height: 1;
        letter-spacing: -2px;
    }

    &__type {
        font-family: Futura, Trebuchet, sans-serif;
        font-size: 20px;
        font-weight: bold;
    }

    &__description {
        &--1 {
            max-width: 435px;
            margin: 0 auto;
        }
    }
}

.mben {
    width: 996px;
    margin: 0 auto;
    text-align: center;
    padding: 90px 0 120px;

    &__lead {
        font-family: Agenda, Arial, sans-serif;
        font-weight: normal;
        margin: 18px auto 65px;
    }

    &__benefits {
        display: table;
        text-align: center;
        padding: 0;
        width: 100%;
    }

    &__additional {
        display: table;
        width: 100%;
        padding: 0;
        text-align: left;

        &__list {}
    }

    &__notice {
        font-family: Agenda, Arial, sans-serif;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.2;
        margin: 52px auto 68px;

        p {
            margin: 0 auto;
        }
    }
}

.benefit {
    display: table-cell;
    vertical-align: top;

    &__icon {
        width: 265px;
        display: block;
        margin: 0 auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;

        &--grab {
            background-image: url('../images/logo-grab.png');
            height: 120px;
        }

        &--airlines {
            background-image: url('../images/logo-airlines.png');
            height: 210px;
        }

        &--agoda {
            background-image: url('../images/logo-agoda.png');
            height: 120px;
        }
    }

    &__title {
        font-family: Agenda, Arial, sans-serif;
        font-weight: bold;
        font-size: 21px;
        max-width: 200px;
        margin: 28px auto 28px;
    }

    &__desc {
        font-size: 17px;
        text-align: justify;
        line-height: 1.7;
        letter-spacing: 0;
    }

    a {
        color: white;
        max-width: 270px;
        display: inline-block;
        margin: 0 auto;
        padding: 30px;
        box-sizing: initial;
        height: 450px;

        &:hover, &:focus {
            color: white;
            text-decoration: none;
            background: rgba(255,255,255,0.2);;
        }
    }
}

.addition {
    display: table-cell;
    width: 50%;
    line-height: 1.7;
    padding: 0 35px;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

    &__title {
        font-family: Agenda, Arial, sans-serif;
        font-weight: bold;
        margin: 36px 0 24px;
        font-size: 20px;
    }

    &__list {
        padding-left: 22px;
        font-size: 17px;
        text-transform: capitalize;
        letter-spacing: 0;

        li {
            margin-bottom: 10px;
        }
    }
    &__scroll {
        margin: 40px auto;
        font-size: 16px;
        text-align: left;
    }
}

.xfar {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 70px;

    &__lead {
        font-family: Agenda, Arial, sans-serif;
        font-weight: 300;
        font-size: 22px;
        line-height: 1.4;
        margin: 17px auto 37px;
    }

    &__fares {
        padding-left: 0;
        width: 100%;
        display: block;
        overflow: auto;
        margin: 64px -68px 60px;
        width: 1132px;
        padding-bottom: 10px;
    }

    &__notice {
        font-family: Agenda, Arial, sans-serif;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.2;
        margin: 52px auto 38px;
    }

    &__footnote {
        text-align: justify;
        font-size: 12px;
    }

}

.fare {
    position: relative;
    float: left;
    width: 261px;
    height: 216px;
    border: 3px solid white;
    margin: 11px;
    list-style: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);

    &__details {
        background-image: url('../images/fare-thumb-bg.png');
        background-position: 50% 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 54px;
        display: table;
        padding: 20px 16px 0;

    }

    &__place {
        font-weight: bold;
        display: table-cell;
        vertical-align: middle;
        text-align: left;
    }

    &__price {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
    }
}

.apply {
    text-align: center;
    padding-top: 84px;
    padding-bottom: 94px;

    &__requirement {
        display: table;
        margin-bottom: 68px;
        margin-top: 70px;
    }

    &__card {
        display: table-cell;
        vertical-align: top;
        width: 50%;
    }

    &__instructions {
        display: table-cell;
        vertical-align: top;
        width: 50%;
        font-size: 16px;
        text-align: left;
        padding-top: 20px;
        padding-right: 70px;

        li {
            margin-bottom: 14px;
        }

    }

    &__lead {
        font-weight: bold;
        font-size: 21px;
        margin-top: 37px;
        margin-left: 38px;
    }
}

.copyright {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.502);
}

.footer {
    position: relative;
    width: 100%;
    top: -120px;
    left: 0;
    padding: 20px 0 10px;
    border-top: 1px solid #2A3751;
}

.nobreak {
    white-space: nowrap;
}
