/* Webfont: Futura-Book */@font-face {
    font-family: 'Futura';
    src: url('Futura-Book.eot'); /* IE9 Compat Modes */
    src: url('Futura-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Futura-Book.woff') format('woff'), /* Modern Browsers */
         url('Futura-Book.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Futura-Book.svg#Futura-Book') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

