/* Webfont: Futura-Bold */@font-face {
    font-family: 'Futura';
    src: url('Futura-Bold.eot'); /* IE9 Compat Modes */
    src: url('Futura-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Futura-Bold.woff') format('woff'), /* Modern Browsers */
         url('Futura-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Futura-Bold.svg#Futura-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

