/* Webfont: Futura-Light */@font-face {
    font-family: 'Futura';
    src: url('Futura-Light.eot'); /* IE9 Compat Modes */
    src: url('Futura-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Futura-Light.woff') format('woff'), /* Modern Browsers */
         url('Futura-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Futura-Light.svg#Futura-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

